[Unit]
Description=systemd-cron daily script service
RefuseManualStart=true
RefuseManualStop=true
ConditionDirectoryNotEmpty=/usr/local/etc/cron.daily

[Service]
Type=oneshot
ExecStart=/usr/bin/run-parts /usr/local/etc/cron.daily

[Install]
WantedBy=cron-daily.target
