[Unit]
Description=systemd-cron monthly timer
PartOf=cron.target
RefuseManualStart=true
RefuseManualStop=true

[Timer]
Persistent=true
OnCalendar=monthly
Unit=cron-monthly.target
