[Unit]
Description=systemd-cron hourly script service
RefuseManualStart=true
RefuseManualStop=true
ConditionDirectoryNotEmpty=/usr/local/etc/cron.hourly

[Service]
Type=oneshot
ExecStart=/usr/bin/run-parts /usr/local/etc/cron.hourly

[Install]
WantedBy=cron-hourly.target
