[Unit]
Description=systemd-cron boot script service
PartOf=cron-boot.target
RefuseManualStart=true
RefuseManualStop=true
ConditionDirectoryNotEmpty=/usr/local/etc/cron.boot

[Service]
Type=oneshot
ExecStart=/usr/bin/run-parts /usr/local/etc/cron.boot

