[Unit]
Description=systemd-cron daily timer
PartOf=cron.target
RefuseManualStart=true
RefuseManualStop=true

[Timer]
Persistent=true
OnCalendar=daily
Unit=cron-daily.target
