[Unit]
Description=systemd-cron hourly script service
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/bin/run-parts /usr/local/etc/cron.hourly

