[Unit]
Description=systemd-cron weekly timer
PartOf=cron.target
RefuseManualStart=true
RefuseManualStop=true

[Timer]
Persistent=true
OnCalendar=weekly
Unit=cron-weekly.target
