[Unit]
Description=systemd-cron boot script service
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/bin/run-parts /usr/local/etc/cron.boot

[Install]
WantedBy=cron-boot.target
